body{
  background-image: url(bois.jpeg);
}
h1 {
  color : #c40b0b  ;
   font-size: 37px ;
   font-family: verdana;
  text-align: center;
}
h2 {
  color : #e30e0e;
  font-size: 29px;
  font-family: verdana;
  text-align: center;
}

p , ul {
  color : #ffd500;
  font-size: 23px;
  font-family: verdana;
  margin-top: 50px;
}

h3 {
  color : #ff7000;
  font-size: 25px;
  font-family: verdana;
  font-weight: bold;
  text-decoration: underline;
  margin-left:25px;
}
.pb{
  margin: 3px;
  float: left;
  background-color: black;
  text-align: center;
  border-top-left-radius : 150px 100px;
  border-bottom-left-radius: 150px 100px;
  border-top-right-radius : 150px 100px;
  border-bottom-right-radius: 150px 100px;
  width: 10%;
  color: Blue;
  height: auto;
  border: 1 solid blue;
  background-image: radial-gradient( #a2a2a2,white,#8a7575,#343232);
}
.pb2{
  margin: 3px;
  float: right;
  background-color: black;
  text-align: center;
  border-top-left-radius : 150px 100px;
  border-bottom-left-radius: 150px 100px;
  border-top-right-radius : 150px 100px;
  border-bottom-right-radius: 150px 100px;
  width: 10%;
  color: Blue;
  height: auto;
  border: 1 solid blue;
  background-image: radial-gradient( #a2a2a2,white,#8a7575,#343232);
}
.fond{
  background-image: linear-gradient( #1b00ff , #003eff , #1f458b , #1e2050 );
  width: 100%;
  height: 45px;

}
 table , th , td {
   color: #ffd500;
   border: 4px solid grey;
   font-size: 23px;
   border-collapse: collapse;
 }
.fondt{
  width: 51.75%;
     background-image: linear-gradient( #1b00ff , #003eff , #0070ff)
}
a {
  font-size: 30px;
}
